@media screen and (orientation: portrait) {
  .card-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
  .show-method::after {
    content: 'Portrait';
  }
}

@media screen and (orientation: landscape) {
  .card-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
  .show-method::after {
    content: 'Landscape';
  }
}

a {
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important;
  transition: 0.3s;
}

a:hover {
  color: #1c7fe2 !important;
}

::-webkit-scrollbar {
  display: none;
}
.acrylic {
  backdrop-filter: blur(30px) brightness(80%) saturate(160%);
  background-color: rgba(x, x, x, 0.5);
}
* {
  will-change: transform;
}
